@media (prefers-color-scheme: dark) {
	.body {
		background-color: #1e1e1e;
		color: rgba(255, 255, 255);
	}
}
@media (prefers-color-scheme: light) {
	.body {
		background-color: #d7d7d7;
		color: rgb(49, 49, 49);
	}
}